@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.App{
    min-height: 100vh;
    display: flex;
    /* background-image: url("./background.png"); */
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #ff7e5f, #6a11cb, #2575fc, #6a11cb);
    background-size: 1200% 1200%;
    background-size: cover;
    background-position: center;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}